! URxvt.font: 		xft:"monospace":size=11
urxvt*font: xft:Droid\ Sans\ Mono\ for\ Powerline:pixelsize=14
! urxvt*font: xft:Droid\ Sans\ Mono\ for\ Powerline:pixelsize=14,xft:Inconsolata\ for\ Powerline:pixelsize=14
URxvt.letterSpace: 	0

URxvt.scrollBar: 	false

URxvt*background:	black
URxvt*foreground:	#7CFC00

! special
*.foreground:   #d3c4b3
*.background:   #13110e
*.cursorColor:  #d3c4b3

! black
*.color0:       #1e1b18
*.color8:       #db73f8

! red
*.color1:       #272420
*.color9:       #78ce00

! green
*.color2:       #39352f
*.color10:      #f9bc3f

! yellow
*.color3:       #524b44
*.color11:      #eda1b4

! blue
*.color4:       #70685f
*.color12:      #cda15a

! magenta
*.color5:       #958a7e
*.color13:      #68c5fe

! cyan
*.color6:       #c0b3a3
*.color14:      #61cdbd

! white
*.color7:       #e8e1da
*.color15:      #6dab3a

URxvt.internalBorder:	0
URxvt.externalBorder:	0

URxvt.transparent:	true
URxvt.shading:		20

URxvt.perl-ext-common: 	default,matcher
URxvt.url-launcher: 	/usr/bin/google-chrome-stable
URxvt.matcher.button: 	1

rofi.color-enabled: true
rofi.color-window: #000000, #00ee00, #00ee00
rofi.color-normal: #000000, #00ee00, #000000, #00ee00, #000000
